---
import MainLayout from "../layouts/MainLayout.astro";

// Server Only
const name = 'Luis Eduardo Velandia Torres';
const title = 'Home Page';
---
<MainLayout title={title}>
	<h1>{name}</h1>
	<p>Momento actual: {new Date().toLocaleDateString()}</p>
	<p id="current-time">Momento actual real: {new Date().toLocaleDateString()}</p>
	<footer>2023</footer>
	<script>
		// Client Only
		const footer = document.querySelector('footer') as HTMLElement;
		const currentTimeElement = document.getElementById('current-time') as HTMLParagraphElement;
		
		const currentYear: number = new Date().getFullYear();

		footer.innerText = `Año: ${currentYear}`;
		currentTimeElement.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
	</script>
</MainLayout>